
<h4> <strong>Q: </strong> {{ node.question }}

<div ng-if = "node.terms.length>0">
<h4> Terms</h4>
<table class="table table-striped table-responsive">


    <thead>
    <th> term </th>
    <th> explentation </th>
    </thead>
    <tbody>
    <tr ng-repeat="term in node.terms">
        <td>{{term.term}}</td>
        <td >
            {{term.explanation}}
        </td>

    </tr>
    </tbody>
</table>
</div>


<table class="table table-striped table-responsive">


    <thead>
        <th> Answer </th>
        <th> Goto... </th>
    </thead>
    <tbody>
    <tr ng-repeat="answer in node.answers">
        <td>{{answer.text}}</td>
        <td ><a class="clickable" ng-click="gotoAsk(answer.answer_sub_graph_id)">
                {{answer.answer_sub_graph_id }}</a></td>

    </tr>
    </tbody>
</table>