<uib-accordion>
    <uib-accordion-group is-open="is_open"  panel-class="panel-info">
        <uib-accordion-heading>
            <span>{{tag.name}}</span >
            <span class="tab header-tag-type"> {{tag.type | printType}} </span>
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': is_open, 'glyphicon-chevron-right': !is_open}"></i>
        </uib-accordion-heading>

        <ul ng-if="tag.values.length >0">

            <table class="table table-striped table-responsive">
                <thead>

                    <th>#</th>
                    <th>name</th>
                    <th>note</th>
                </thead>
                <tbody>
                    <tr ng-repeat="value in tag.values">
                        <td>{{value.ordinal}}</td>
                        <td>{{value.name}}</td>
                        <td>{{value.note}}</td>
                    </tr>
                </tbody>
            </table>

        </ul>
        <ul ng-if="!!tag.note">  <strong> Note:</strong>  {{tag.note}}  </ul>

    </uib-accordion-group>
</uib-accordion>